/* styles.css */

/* Styles pour le corps de la page */

  /* Style pour la classe min-h-screen */
  /* Styles pour le conteneur principal de la page */
  .min-h-screen {
    min-height: 100vh;
   
  }
  
  /* Reste de votre code CSS */
  
    
    /* Style pour le titre h1 */
    .text-4xl {
      font-size: 3rem;
      line-height: 2.5rem;
      font-weight: semi-bold;
      position: absolute;
      top: 20px;
      text-align: center; /* Aligner au centre horizontalement */
    }
    
    
    /* Style pour le lien VIEW PDF */
    .text-blue-500 {
      color: #3b82f6; /* Couleur du texte */
      text-decoration: none; /* Pas de soulignement */
    
    }
    
    .text-blue-500:hover {
      text-decoration: underline; /* Soulignement au survol */
    }
    
    /* Style pour le texte du paragraphe */
    .text-black {
      color: #1E1E1E; /* Couleur du texte */
      line-height: 1.5; /* Hauteur de ligne */
      height: 100px; 
      margin-bottom: 90px;
      position: absolute;
     
    }
    
    /* Style pour l'icône favori */
    .cursor-pointer {
      cursor: pointer; /* Curseur au survol */
    }
    
    
      .text-center p {
        margin-bottom: 15px; /* Marge de 15px entre chaque paragraphe */
      
    
      }
      /*
      .text-center p:nth-of-type(2) {
        margin-top: 20px; /* Marge de 30px entre la deuxième et la première section 
      }
      
      .text-center p:nth-of-type(3) {
        margin-top: 20px; /* Marge de 30px entre la troisième et la deuxième section 
      }*/
    
    /* Styles pour les boutons personnalisés */
    .buttons {
     height: 70%;
     margin-right: 5%;
      display: flex;
      justify-content: center;
    }
    
    .blue-button {
      background-color: #50B3C5;
      color: white;
      padding: 15px 30px;
      margin: 0 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 190px; /* Largeur fixe des boutons */
    }
    
    .red-button {
      background-color: #E20B0B;
      color: white;
      padding: 15px 30px;
      margin: 0 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 190px; /* Largeur fixe des boutons */
    
    }
    .gray-bg {
      background-color: #ccc; /* Gris */
    }
  
  
  
    .input-large {
      width: 100%; /* ou toute autre taille souhaitée */
    }
  
  
  
  
  
    .text-center {
      text-align: left;
    }
    
   /* Ajoutez ces styles dans votre fichier MdetailsAr.css */
  
  .author-info p::before {
    content: '\2022'; /* Utilisation du caractère Unicode pour un point noir */
    color: #000; /* Couleur noire */
    margin-right: 8px; /* Marge à droite pour séparer la boule du texte */
  }
   
    
    
    